@use "colors" as *;

$font: "JetBrainsMonoNL Nerd Font";
$font-icon: "Material Symbols Rounded";

$radius: 4px;

$clr-bar-bg: $bg-bar;
$clr-bar-fg: $fg;

$clr-ws-button-bg: $bg-highlight;
$clr-ws-button-bg-active: $accent;
$clr-ws-button-bg-occupied: $dark1;

$clr-taskbar-client-icon-fg: $fg;
$clr-taskbar-client-icon-bg: $bg-dark;
$clr-taskbar-client-icon-fg-active: $bg;
$clr-taskbar-client-icon-bg-active: $accent;
$clr-taskbar-client-title-fg: $dark2;
$clr-taskbar-client-title-bg: $bg;
$clr-taskbar-client-title-fg-active: $accent;
$clr-taskbar-client-title-bg-active: $bg-highlight;

$clr-module-icon-fg: $bg;
$clr-module-icon-bg: $bg;
$clr-module-label-fg: $bg;
$clr-module-label-bg: $bg;

$clr-module-clock: $yellow;
$clr-module-network: $purple;
$clr-module-netstats: $orange;
$clr-module-volume: $aqua;
