/.config/*
!/.config/brave-flags.conf
!/.config/cava
!/.config/DankMaterialShell
!/.config/fcitx
!/.config/fcitx5
!/.config/fish
/.config/fish/completions
/.config/fish/fish_variables
!/.config/ghostty
!/.config/GIMP
!/.config/gtk-3.0
!/.config/gtk-4.0
!/.config/imv
!/.config/mimeapps.list
!/.config/niri
!/.config/nvim
/.config/nvim/lazy-lock.json
!/.config/qt5ct
!/.config/qt6ct
!/.config/starship.toml
!/.config/tmux
!/.config/xournalpp
!/.config/zathura
--help

# All logs
*.log
